<!-- header -->
<div class="header">
  <ul class="list-unstyled">
    <li><h1>OBA Sample</h1></li>
    <li>Welcome <span>{{getUserName()}}</span></li>
  </ul>
</div>

<!-- navbar -->
<div class="navbar">
  <a *ngIf="isAuthenticated()" routerLink="/balances" class="nav-link">Balances</a>
  <a *ngIf="!isAuthenticated()" routerLink="/authentication/login" class="nav-link">Login</a>
  <a *ngIf="isAuthenticated()" routerLink="/authentication/logout" class="nav-link">Logout</a>
</div>

<!-- main container -->
<div class="mainContainer">
  <router-outlet>

  </router-outlet>
</div>
