<div>
  <p>Balances</p>
</div>

<loading-spinner *ngIf="loadingBalanceData"></loading-spinner>

<ng-template *ngIf="balancesData">

</ng-template>
<div *ngFor="let total of balancesData.currencyTotals">
  Total: <span [ngStyle]="{color: total.amountType !== 'CREDIT' ? 'red' : 'black'}">{{ total.currencySymbol }} {{ total.balanceDisplay }}</span>
</div>


<div *ngIf="balancesData">

  <div *ngFor="let account of balancesData.accountBalances">
    <p>{{ account.accountName }}</p>
    <p><span [ngStyle]="{color: account.amountType !== 'CREDIT' ? 'red' : 'black'}">{{ account.currencySymbol }} {{ account.balanceDisplay }}</span></p>
  </div>

</div>

<div>
  <button (click)="onRefresh()">Refresh</button>
</div>
